{% extends "basic.html" %}
{% block body %}

<!-- ======= Portfolio Details ======= -->
<div id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row">

      <div class="col-lg-12 portfolio-info">
        <br>
        <ul>
          <li><strong>Tech Stack</strong>: Django, Python, Heroku, SQlite, HTML, CSS</li>
            <li><strong>Website URL</strong>: <a href="https://todo-awesome-app.herokuapp.com/" target="_blank">Link</a></li>
          <li><strong>Github URL</strong>: <a href="https://github.com/rajaprerak/todo_webapp" target="_blank">Project Link</a></li>
        </ul>

        <p>
          The app is created using Django framework. The app contains mainly 3 functionalities. User can add the task. Update the task and delete the task.
        </p>
      </div>

    </div>

  </div>
</div><!-- End Portfolio Details -->

{% endblock %}
